/* --------------------------------------------------------------------------------- MARK: LAYOUT
*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: calc(var(--scale) * 2);
}

/* --------------------------------------------------------------------------------- MARK: TITEL
*/

h1{
    font-family: 'Minecraft Heading', sans-serif;
    font-size: calc(var(--scale) * 3);
    color: var(--white);

    text-shadow:
        2px 2px 0px var(--gray),
        4px 4px 0px var(--dark-gray);
}

/* --------------------------------------------------------------------------------- MARK: KNOPPEN GRID
*/

.settings-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--scale) * 0.7);

    width: 38vw;
}

/* Actief thema knop heeft andere kleur */
.btn.active-theme{
    background-color: var(--btn-hover-bg);
    border-top-color:    var(--btn-hover-light);
    border-left-color:   var(--btn-hover-light);
    border-right-color:  var(--btn-hover-dark);
    border-bottom-color: var(--btn-hover-dark);
}

/* --------------------------------------------------------------------------------- MARK: KLAAR KNOP
*/

.btn-done{
    width: 38vw;
    padding: calc(var(--scale) * 0.85) 0;
}
